{% extends "web/main.html" %}
{% load static %}
{% block title_page %}
    <title>Shop</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="position: absolute; right:50%; transform: translateX(50%); margin-top: 30px">
            <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-dark">Profile</button>
            <button onclick="window.location.href = {% url 'exit' %}" type="submit" class="btn btn-outline-dark">Log out</button>
        </div>
    {% else %}
        <div style="position: absolute; right:50%; transform: translateX(50%); margin-top: 30px">
            <button onclick="window.location.href = {% url 'login' %}" type="submit" class="btn btn-outline-dark">Log in</button>
            <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-dark">Register</button>
        </div>
    {% endif %}
    <section class="main-section paddind" id="Portfolio">
        <!--main-section-start-->
        <div class="container">
           <!-- <a class="btn btn-outline-secondary" style="position: absolute; float: right; margin-left: 10px">Log in</a>
            <a class="btn btn-outline-secondary" style="position: absolute; float: right; margin-right: 10px">Register</a>-->
            <h2>Shop</h2>
            <h6>You can find what you want</h6>
            <div class="portfolioFilter">
                <ul class="Portfolio-nav wow fadeIn delay-02s">
                    <li><a href="#" data-filter="*" class="current">All</a></li>
                    <li><a href="#" data-filter=".branding">Phones</a></li>
                    <li><a href="#" data-filter=".webdesign">Laptops</a></li>
                    <li><a href="#" data-filter=".printdesign">PC</a></li>
                    <li><a href="#" data-filter=".photography">Accessories</a></li>
                </ul>
            </div>

        </div>
        <div class="portfolioContainer wow fadeInUp delay-04s">
            {% for post in pr %}
                {% if post.availability %}
                    {% if post.group == 'phone' %}
                        <div class=" Portfolio-box branding"> <!--Phones-->
                            <a href="img/Portfolio-pic3.jpg"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>${{ post.price }}</p>
                        </div>
                    {% elif post.group == 'pc' %}
                        <div class=" Portfolio-box printdesign"> <!--PC-->
                            <a href="img/Portfolio-pic1.jpg"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>${{ post.price }}</p>
                        </div>
                    {% elif post.group == 'laptop' %}
                        <div class="Portfolio-box webdesign"> <!--Laptops-->
                            <a href="img/Portfolio-pic2.jpg"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>${{ post.price }}</p>
                        </div>
                    {% else %}
                        <div class=" Portfolio-box photography"> <!--Accessories-->
                            <a href="img/Portfolio-pic4.jpg"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>${{ post.price }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}